# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Data and checkpoints
checkpoints/


# OS files
.DS_Store
Thumbs.db

# Environment
.env
.venv/
venv/

# Logs
*.log

# Model files
*.pth
*.pt

# Misc
*.bak
*.swp
